/* This styles the netire page */
* {
    font-family: Abril Fatface;
    margin: 0px;
}

/* Background image */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/painter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/* Logo section */
.logo{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    background-color: #404040;
    width: 7rem;
    margin-top: 2rem;
    height: 7rem;
    border: 4px solid #fff;
    border-radius: 7rem;
    color: white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.9);
}

/* Human masterpiece text */
.tag p{
    color: #03254c;
    font-size: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.5rem 0 1rem;
}
/* horizontal line */
hr{
    background-color: #404040;
    height: 0.8rem;
    border: none;
}

/* Icons that are links */
.link-icons{
    display: flex;
    align-content: center;
}
.link-icons a{
    padding: 1.5rem;
    text-decoration: none;
}
.link-icons img{
    height: 7rem;
    width: 7rem;
    filter: invert(14%) sepia(15%) saturate(5618%) hue-rotate(188deg) brightness(93%) contrast(105%);
}
div p{
    display: flex;
    flex-direction: column;
    color: #03254c;
    font-size: 2rem;
}

/* Footer section */
.footer{
    background-color: #404040;
    color: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}