* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Abril Fatface", cursive;
}

.container {
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url(images/painter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
}

/* App Bar Section */
header {
	display: flex;
	align-items: center;
	justify-content: center;
}

header div {
	 display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    background-color: #404040;
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
	padding: .4rem;
    border: 4px solid #fff;
    border-radius: 7rem;
    color: white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.9);
}

header div p {
	font-size: 1.8rem;
	color: white;
	text-align: center;
}

header div p span {
	display: block;
}

main > h2 {
	text-align: center;
	letter-spacing: 0.1rem;
	margin: 1.2rem 0;
	font-size: 2rem;
	color: #03254c;
}

/* Services Section */

section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.cards {
	width: 30%;
	height: 400px;
	margin: 1rem;
	background-color: rgba(64, 64, 64, 0.7);
	color: white;
	border-top-left-radius: 1.2rem;
}

.cards > div {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: space-between;
}

.cards > div > div {
	width: 50%;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.cards img {
	width: 50%;
	/* height: 50%; */
	border-radius: 1.2rem;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
}

.cards > div > div > h2 {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1rem;
}

.cards > div > div > p > strong {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1rem;
}

.cards > p {
	text-align: center;
	margin-top: 0.5rem;
	font-family: "Roboto", sans-serif;
}

/* Footer Section */
footer {
	padding: 1.2rem 0;
	background-color: #404040;
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	color: white;
}
